name: Manga-Py Workflow

on:
  workflow_dispatch:
    inputs:
       url:
        description: 'Manga URL'
        required: true

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v3.1.4
      with:
        python-version: '3.10'
    
    - name: Install manga-py and requirements
      run: |
        sudo apt-get -y install recode
        wget https://github.com/manga-py/manga-py/raw/stable_1.x/requirements.txt
        pip install -r requirements.txt
        pip install manga-py
        
    - name: Run manga-py
      run: |
        manga-py --cbz ${{ github.event.inputs.url }}
        zip -r Manga.zip Manga
        
    - name: Release Prep
      id: rel_prep
      run: |
          echo "::set-env name=ACTIONS_ALLOW_UNSECURE_COMMANDS::true"
          site_title=$(wget -qO- "$(echo "${{ github.event.inputs.url }}")" | perl -l -0777 -ne 'print $1 if /<title.*?>\s*(.*?)\s*<\/title/si' | recode html.. | sed -e 's/Online//g' -e 's/Free//g')
          echo "::set-env name=SITE_TITLE::$site_title"

    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: ${{ github.run_number }}
        prerelease: false
        title: ${{ env.SITE_TITLE }}
        files: Manga.zip
        
    - name: Upload Manga.zip as artifact
      uses: actions/upload-artifact@v2
      with:
        name: manga-artifact
        path: Manga.zip
